<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <div class="d-flex">
            <div>
                <a class="navbar-brand" href="#">وبلاگ من</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">خانه</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">تمام پست ها</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">درباره</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">تماس باما</a>
                  </li>
                </ul>
            </div>
        </div>
      <div class="" id="">
        <form class="d-flex">
            <button class="btn btn-outline-success" type="submit">جستجو</button>
          <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>